Parte 1/Story11.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="service" type="xs:string"/>
  <xs:element name="drink">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="temperature" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="food">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="type" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="price">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:byte">
          <xs:attribute type="xs:string" name="age" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="evento">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="service"/>
        <xs:element ref="drink" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="food" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="price" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="category" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="servicios">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="evento" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>